@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&family=Raleway&family=Indie+Flower:wght@400;500;700;900&display=swap');


body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Smooch Sans', sans-serif;

}
